<nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/navbar-image.png" height="40px">
      Angular + Bootstrap
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
