<page-header
  id="pageHeader"
  header="South African Holiday(s)"
  description="Retrieve all South African Holiday(s) for Specified Year"
  [faIcon]="faIcon"
></page-header>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
    <form [formGroup]="yearForm" class="form-horizontal">

      <div class="form-group row">
        <label for="yearInput" class="col-sm-6 col-form-label ">Fetch holiday for Year</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="yearInput" name="yearInput" placeholder="Year"
                 formControlName="year" autofocus>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 text-center">
          <button class="btn btn-primary" (click)="fetchHolidays()" [disabled]="!yearForm.valid" id="fetchButton">
            Fetch Holidays
          </button>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="row" *ngIf="holidays">
  <div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
    <br/>

    <div *ngIf="holidays.length > 0">
      <p class="text-center text-success">
        Holidays found for South Africa for <strong>{{ year }}</strong>
      </p>
      <div id="pdfTable" #pdfTable>
        <table class="table table-striped">
          <thead>
          <tr>
            <td>Date [yyyy/mm/dd]</td>
            <td>Day Description</td>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let holiday of holidays">
            <td>{{ holiday.date }}</td>
            <td>{{ holiday.name }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <button class="btn btn-success" (click)="downloadAsPDF()" id="pdfExportButton">
        Download as PDF
      </button>
    </div>

    <p class="text-center text-warning" *ngIf="holidays.length === 0">
      No holidays found for South Africa for <i><strong>{{ year }}</strong></i>
    </p>
  </div>
</div>
